@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Work+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200&display=swap');
*{margin: 0;}
img{
    height:33px;
    width:268px;
    max-width:100%;
}

header{
    display: flex;
    justify-content: center;
}

nav{
    height:70px;
    width:1500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

ul{
    list-style: none;
    display: flex;
    font-family: Roboto,Arial,sans-serif;
    font-size:15px;
    justify-content:space-evenly;
    width: 300px;
}
.menuitem{
    font-size:15px;
    line-height:30px;
    word-spacing: 0px;
    color: #ABABAB;
}

#aboutus{
    color:#00B39B;
}

.menuitem:hover {
    color:#00B39B;
}

.liste{
    display:none;
}

.menuitem:hover .liste {
    display: flex;
    flex-direction: column;
    position: absolute;
}

.liste{
    color: #ABABAB;
    border: grey;
    box-shadow: -8px 20px 39px -9px rgba(211,207,201,1);
    background-color: white;

}
.dropmenuitem:hover{
    color: #00B39B;
    background-color: #ababab59;
    cursor: pointer;

}

.liste{
    font-family:Roboto,Arial,sans-serif;
    font-size:15px;
    width: 200px;
    height: auto;
    margin-left:-120px;

}
.dropmenuitem{ 
   margin-left:-35px
}

.logodoc{
    height: 39px;
    width: 40px;
}
.title{
    text-align: center;
    color: #00B39B;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#awelh1{
  color: #00B39B;
  text-align: center;
  font-family: Work Sans,Arial, sans-serif;
    font-size: 34px;
    font-weight:300;
    line-height:44.2px;
    width: 975px;
}

h1{
    font-family: Work Sans,Arial, sans-serif;
    font-size: 34px;
    font-weight:300;
    line-height:44.2px;
    color: white;
}

.info{
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}

.info p {
    width: 480px;
    font: 400 16px Roboto, Arial, sans-serif;
    line-height: 28px;
    color: rgb(116, 116, 116);
  }
  .servicessection{
    display: flex;
    font-family: Roboto,Arial,sans-serif;
    font-size: 16px;
    line-height: 20.8px;
    text-decoration: none solid rgb(116, 116, 116);
    word-spacing: 0px;
    height: 365px;
    width: 1015px;
    margin: 60px auto 40px auto;
    padding: 0 20px 0 20px;
    max-width: 1015px;
  }

  .for{
    font-family: Roboto,Arial,sans-serif;
    font-size: 16px;
    line-height: 20.8px;
    text-decoration: none solid rgb(116, 116, 116);
    word-spacing: 0px;
    background-color: aqua;
    height: 345px;
    width: 311.625px;
    padding: 32px 32px 0 32px;
    transform: none;
    transition: all 0.2s ease 0s;
    outline: rgb(116, 116, 116) dashed 0px;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 10px;
    color: white;
  }

  .icon{
    height: 23.9931px;
    width: 23.9931px;
    margin: 0 0 -6px 0;
    max-width: 100%;
  }

  #patientsid{
    background-color: #00CCB1;
  }

  #doctorsid{
    background-color: #3D83DF;
  }

  #clinicsid{
    background-color: #1B2734;
  }

.select{
  background-color: transparent;
  font-family: Roboto,Arial,sans-serif;
  white-space: pre;
  word-spacing: 0px;
  height: 40px;
  padding: 0 38px 0 0;
  cursor: pointer;
  color:white;
  text-decoration: underline;
  border: none;
  font-size: 19px;
  line-height: 24px;
}

option{
  color: black;
}

div p {
  font-family: 'Work Sans', sans-serif;
  font-size:24px;
  font-weight: 300;
  letter-spacing: -0.3px;
  line-height: 28.8px;
  word-spacing: 0px;
  height: 87px;
  width: 247px;
  box-sizing: border-box;
}

div h1 {
  font-family: 'Work Sans', sans-serif;
  font-size: 26px;
  letter-spacing: -0.3px;
  line-height: 33.8px;
  height: 33px;
  width: 247px;
  margin: 8px 0 8px 0;
}

#h1sponsor{
  color: #00B39B;
}

.brands-section{
  display: flex;
  margin-left: 170px;
  height: 116.984px;
  width: 1015px;
  margin: 40px 167px 50px 167px;
  padding: 0 20px 0 20px;
  max-width: 1015px;
  position: relative;
  
}

.znanylekarz{
  height: 20px;
  width:135px;
  cursor: pointer;
}

.doctoralia{
  height: 20px;
  width:114px;
  cursor: pointer;
}

.miodottore{
  height: 20px;
  width: 123px;
  cursor: pointer;
}

.doktortakvimi{
  height: 20px;
  width: 147px;
  cursor: pointer;
}

.znamylekar{
  height: 20px;
  width: 131px;
  cursor: pointer;
}

.tuotempo{
  height: 20px;
  width: 126px;
  cursor: pointer;
}

.gipo{
  height: 38px;
  width: 47px;
  cursor: pointer;
}

.cliniccloud{
  height: 34px;
  width: 72px;
  cursor: pointer;
}

.jameda{
  height: 34px;
  width: 116px;
  cursor: pointer;
}

.sponsors{
  display: flex;
  justify-content: space-between;
  height: 110px;
  width: 654px;
  flex-wrap: wrap;
  margin-left: 60px;
  background-color: #ffffff;
  color: #747474
}

.sponsors svg{
fill:gray;
}

.sponsors img{
  filter: grayscale(100%);
}

.sponsors svg:hover{
  fill: #00B39B;
}

.sponsors img:hover{
  filter: grayscale(0%);
}

#stats{
  height: 600px;
  width: 89.5%;
  background-image: url(https://cdn.discordapp.com/attachments/945253605756244008/960115098888847432/Sans_titre-2.png);
  display: flex;
  justify-content: space-evenly;
  padding: 10px 70px 10px 70px;
}

#h1secstats{
  color: #00B39B;
  font-family: "Work Sans";
  font-size: 34px;
  font-weight: 300;
  letter-spacing: -0.3px;
  line-height: 44.2px;
  height: 88px;
  width: 477px;
}

.iconstats{
  height: 40px;
  width: 40px;
}

.blocks{
  border-radius: 5px;
  background-color: #ffffff;
  margin: 10px;
  height: 250px;
  width: 199px;
  padding: 15px 15px 15px 15px;
  font-family: Roboto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.col2{
  height: 560px;
  width: 497.5px;
  display: flex;
  flex-flow:column wrap;
  margin-right: 160px;
}

#leaders{
  margin-top: 30px;
}

.col1{
  margin-top: 50px;
  margin-left: 100px;
}

h3{
  font-size: 24px;
  color: #00B39B;
}

.pcol{
  width: 220px;
  font-size: 15px;
  color: #747474;
  font-family: Roboto,Arial,sans-serif;
}

.col1 p{
  font-family: Roboto,Arial,sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #747474;
  height: 48px;
  width: 415px;
  margin: 22px 0 22px 0;
  max-width: 415px;
}

/* blockstats */

#h1off{
  font-family: "Work Sans",Arial, sans-serif;
  font-size: 30px;
  font-weight: 300;
  text-align: center;
  color: #00B39B;
  height: 78px;
  width: 510px;
}


#offices{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#p1off{
  height: 72px;
  width: 460px;
  margin: 22px 0 22px 0;
}

.imageoff{
  height: 278px;
  width: 309px;
}

.images{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left : 12%;
  /* width: 1015px; */
}

.boximage{
  /* margin-left: 20px; */
  height: 370px;
  width: 330px;
}

.boximage:hover{
  box-shadow: -3px 21px 45px 4px rgba(94,82,82,0.75);
}

.descbox{
  display: flex; 
  background-color: white;
  font-family:Roboto,Arial,sans-serif;
  font-size: 18px;
  line-height: 30px;
  height: 70px;
  /* width: 309px; */
  padding: 20px 20px 20px 20px ;
 cursor: pointer;
}

.poff{
  font-family:Roboto,Arial,sans-serif;
  font-size: 18px;
  color: #747474;
}


.buttons{
  font-family:Roboto,Arial,sans-serif;
  font-size: 10px;
  font-weight: 700;
  line-height: 10px;
  text-align: center;
  background-color: #3D83DF;
  color: #FFFFFF;
  height: 30px;
  width: 103px;
  position: relative;
  border: transparent;
  border-radius: 10px;
}

/* section6 */

#h1sec6{
  margin-top: 150px;
  font-family: "Work Sans",Arial,sans-serif;
  font-size: 30px;
  font-weight: 300;
  line-height: 39px;
  color: #333333;
  text-align: center;
}

.section6 button{
  text-align: center;
  font-family:Roboto,Arial,sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  background-color: #3D83DF;
  height: 40px;
  width: 210px;
  padding: 14px 18px 14px 18px;
  position: relative;
  border-radius: 5px;
  border: transparent;
  color: white;
  margin-top: 15px;
}

.section6{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer p{
  font-family:Roboto,Arial,sans-serif;
font-size: 12px;
line-height: 15.6px;
text-align: center;
color: #ABABAB;
height: 16px;
width: 975px;
margin: 19px 0 5px 170px;
}








  